extends layout

block content
    h2 Edit chefs 

    h3 Add Chef

    form#formAddChef(name="addchef",method="post",action="/addchef")
        input#inputChefName(type="text", placeholder="Name", name="chefname")
        input#inputChefEmail(type="text", placeholder="Email", name="chefemail")
        input#inputChefLocation(type="text", placeholder="Location", name="cheflocation")
        button#btnSubmit(type="submit") add

    h3 Delete Chef
    
    form#formDeleteChef(name="deletechef",method="post",action="/deletechef")
        input#inputChefEmail(type="text", placeholder="Email", name="chefemail")
        button#btnSubmit(type="submit") delete

    p= message