extends layout

block content
    h2 Edit Clients 

    h3 Add Client

    form#formAddClient(name="addclient",method="post",action="/addclient")
        input#inputClientName(type="text", placeholder="Name", name="clientname")
        input#inputClientEmail(type="text", placeholder="Email", name="clientemail")
        input#inputClientLocation(type="text", placeholder="Location", name="clientlocation")
        button#btnSubmit(type="submit") add

    h3 Delete Client
    
    form#formDeleteClient(name="deleteclient",method="post",action="/deleteclient")
        input#inputClientEmail(type="text", placeholder="Email", name="clientemail")
        button#btnSubmit(type="submit") delete

    p= message